
html, body{
  height: 100%;
  width: 100%;
  font-family: 'Garamond', sans-serif;
  color: #222;
  background-color: #f9f9f9;
}

.navbar {
  background-color: #e5e5e5;
  padding: .8rem;
}

.navbar-logo {
  max-width: 100%;
  height: 50px;
}

.navbar-nav li {
  padding-right: 20px;
}
.nav-link {
  font-size: 1.1em !important;
}

main{
  min-height: 100%;
}

.main-content{
  padding-left: 0px;
  padding-right: 0px;
}
@media (min-width:540px){
  .main-content{
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width:768px){
  .main-content{
    padding-left: 20px;
    padding-right: 20px;
  }
}


.panel {
  margin: 20px 0px;
  background-color: #f9f9f9;
  width: 100%;
  padding: 20px;
  border: 2px solid #333;
  border-radius: 15px;
  box-shadow: 5px 5px 5px;
}


footer {
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;
}
hr.light {
  border-top: 1px solid #d5d5d5;
  width: 90%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}
footer a {
  color: #d5d5d5;
}
hr.light-100 {
  border-top: 1px solid #d5d5d5;
  width: 100%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}

.footer-logo {
  height: 60px;
  margin-bottom: 10px;
}
.footer-icon{
  display: inline;
  font-size: 48px;
  margin-right: 10px;
}
